<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twelve_week_year.name %>
</p>

<p>
  <strong>Starts on:</strong>
  <%= @twelve_week_year.starts_on %>
</p>

<p>
  <strong>Ends on:</strong>
  <%= @twelve_week_year.ends_on %>
</p>

<%= link_to 'Edit', edit_twelve_week_year_path(@twelve_week_year) %> |
<%= link_to 'Back', twelve_week_years_path %>
