<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="col-sm">
    <h1>Year: <%= @twelve_week_year.name %></h1>
    <h2><%= @twelve_week_year.starts_on.strftime("%b %d, %Y") %> &mdash; <%= @twelve_week_year.ends_on.strftime("%b %d, %Y") %></h2>
    <hr/>
    <h3>Goals</h3>
    <ul>
      <% @twelve_week_year.goals.each do |goal| %>
        <li><%= goal.name %></li>
      <% end %>
    </ul>
    <hr/>
    <h4>New Goal</h4>
    <%= render partial: "goals/form", locals: {goal: @twelve_week_year.goals.build} %>
    <hr/
  </div>
  <div class="col-sm">
    <h3>Tactics</h3>
    <% (1..12).each do |week| %>
    <h4>Week <%= week %></h4>
    <% #@twelve_week_year.tactics_for_week(week).each do |tactic| %>
    
    <% end %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_twelve_week_year_path(@twelve_week_year) %> |
<%= link_to 'Back', twelve_week_years_path %>
