<p id="notice"><%= notice %></p>

<h1>Year: <%= @twelve_week_year.name %></h1>
<h2><%= @twelve_week_year.starts_on %> &mdash; <%= @twelve_week_year.ends_on %></h2>
<hr/>
<h3>Goals</h3>
<ul>
  <% @twelve_week_year.goals.each do |goal| %>
    <li><%= goal.name %></li>
  <% end %>
</ul>
<hr/>
<h4>New Goal</h4>
<%= render partial: "goals/form", locals: {goal: @twelve_week_year.goals.build} %>

<%= link_to 'Edit', edit_twelve_week_year_path(@twelve_week_year) %> |
<%= link_to 'Back', twelve_week_years_path %>
